apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: taskmanager

resources:
  - namespace.yaml
  - redis.yaml
  - otel-collector.yaml
  - tempo.yaml
  - loki.yaml
  - promtail.yaml
  - prometheus.yaml
  - grafana.yaml
  - taskmanager-services.yaml

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - name: otel-collector-config
    files:
      - otel-collector.yaml=../configs/otel-collector.yaml
  - name: prometheus-config
    files:
      - prometheus.yaml=../configs/prometheus.yaml
  - name: tempo-config
    files:
      - tempo.yaml=../configs/tempo.yaml
  - name: loki-config
    files:
      - loki-config.yaml=../configs/loki-config.yaml
  - name: promtail-config
    files:
      - promtail-config.yaml=../configs/promtail-k8s.yaml
  - name: grafana-datasources
    files:
      - loki.yaml=../configs/grafana/provisioning/datasources/loki.yaml
      - tempo.yaml=../configs/grafana/provisioning/datasources/tempo.yaml
      - prometheus.yaml=../configs/grafana/provisioning/datasources/prometheus.yaml
  - name: grafana-dashboards-provider
    files:
      - dashboards.yaml=../configs/grafana/provisioning/dashboards/dashboards.yaml
  - name: grafana-dashboards
    files:
      - taskmanager-logs.json=../configs/grafana/dashboards/taskmanager-logs.json
      - taskmanager-traces.json=../configs/grafana/dashboards/taskmanager-traces.json
      - taskmanager-pipeline-health.json=../configs/grafana/dashboards/taskmanager-pipeline-health.json
      - taskmanager-pipeline-traces.json=../configs/grafana/dashboards/taskmanager-pipeline-traces.json
      - taskmanager-pipeline-latency.json=../configs/grafana/dashboards/taskmanager-pipeline-latency.json
      - otel-collector-health.json=../configs/grafana/dashboards/otel-collector-health.json
