apiVersion: apps/v1
kind: Deployment
metadata:
  name: nats
  labels:
    app: nats
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nats
  template:
    metadata:
      labels:
        app: nats
    spec:
      containers:
        - name: nats
          image: public.ecr.aws/docker/library/nats:2.10.10
          args: ["-c", "/etc/nats/nats.conf"]
          ports:
            - containerPort: 4222
              name: client
            - containerPort: 8222
              name: monitoring
          volumeMounts:
            - name: nats-config
              mountPath: /etc/nats/nats.conf
              subPath: nats.conf
            - name: nats-data
              mountPath: /data
        - name: nats-exporter
          image: public.ecr.aws/bitnami/nats-exporter:latest
          args: ["-varz", "-connz", "-subz", "-jsz=all", "-serverz", "http://localhost:8222"]
          ports:
            - containerPort: 7777
              name: metrics
      volumes:
        - name: nats-config
          configMap:
            name: nats-config
        - name: nats-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: nats
  labels:
    app: nats
spec:
  selector:
    app: nats
  ports:
    - name: client
      port: 4222
      targetPort: 4222
    - name: monitoring
      port: 8222
      targetPort: 8222
---
apiVersion: v1
kind: Service
metadata:
  name: nats-exporter
  labels:
    app: nats
spec:
  selector:
    app: nats
  ports:
    - name: metrics
      port: 7777
      targetPort: 7777
