name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  test:
    name: Run Tests
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache: false

      - name: Run Unit Tests
        run: make unit-tests

      - name: Run E2E Tests
        run: make e2e-tests

      - name: Cleanup
        if: always()
        run: docker compose down -v
