name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    name: Test Enricher
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23.3'

    - name: Test Notifier
      working-directory: ./notifier
      run: go test -v ./...
        go-version: '1.23'

    - name: Test Enricher
      run: |
        cd enricher
        go test -v ./...
