name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  test:
    name: Run Tests
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.23'
          cache: false

      - name: Run Unit Tests
        run: |
          set -e
          modules="pkg enricher client worker server result-store deadletter scheduler notifier audit ingest"
          for dir in $modules; do
            echo "Testing $dir..."
            (cd "$dir" && go mod tidy && go test -v ./...)
          done

      - name: Run E2E Tests
        run: docker compose -p "e2e-ci-${{ github.run_id }}" -f tests/e2e/docker-compose.e2e.yml up --build --exit-code-from e2e-tests

      - name: Cleanup
        if: always()
        run: docker compose -p "e2e-ci-${{ github.run_id }}" -f tests/e2e/docker-compose.e2e.yml down -v
