name: Ingest Service Tests

on:
  push:
    branches: [ "main", "master" ]
    paths:
      - 'ingest/**'
      - 'pkg/**'
      - 'go.mod'
      - 'go.sum'
  pull_request:
    branches: [ "main", "master" ]
    paths:
      - 'ingest/**'
      - 'pkg/**'
      - 'go.mod'
      - 'go.sum'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23.3'

    - name: Test Ingest Service
      run: |
        cd ingest
        go test -v ./...
